#CTA {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .span {
        font-size: 16px;
        color: var(--text-gray);

        .highlight {
            color: white;
        }
    }

    .span-limiter {
        width: 443px;
        text-align: center;
    }

    .data {
        font-size: 64px;
        font-weight: 700;
        color: white;
        margin: 10px 0;
    }

    @media screen and (max-width: 720px) {
        margin-top: 50px;

        .data {
            font-size: 36px;
            font-weight: 500;
            color: white;
            margin: 10px 0;
        }
    }

    @media screen and (max-width: 480px) {
        margin-top: 30px;

        .data {
            font-size: 24px;
            font-weight: 500;
            color: white;
            margin: 10px 0;
        }

        .span-limiter {
            width: 250px;
            text-align: center;
        }

        .span {
            font-size: 14px;
        }
    }
}