#Experience {
    position: relative;

    .title {
        font-size: 28px;
        color: white;
        font-weight: bold;
    }

    .subtitle {
        font-size: 28px;
        color: white;
        font-weight: 200;
    }

    .content {
        font-size: 18px;
        font-weight: 300;
        color: var(--text-gray);
        overflow-wrap: break-word;

    }

    .header {
        margin-bottom: 15px;
    }

    .image-container {
        margin-top: 20px;
    }

    .inner-container {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .image {
        width: 150px;
        height: 160px;
        background-color: #D9D9D9;
        border-radius: 10px;
        margin-right: 20px;
    }

    .timeline-dot {
        position: absolute;
        left: -91px ;
        top: 6px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: var(--base-color-1);
        border: 2px solid var(--stroke-gray);
    }

    @media screen and (max-width: 1050px) {
        .timeline-dot {
            display: none;
        }
    }

    @media screen and (max-width: 720px) {
        .content {
            font-size: 14px;
        }

        .inner-container {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 480px) {
        .image {
            width: 100px;
            height: 110px;
        }

        .title, .subtitle {
            font-size: 20px;

        }
    }
}